<div class="index-header">
    <div class="nav-section">
       <nav class="container">
          <div class="d-flex justify-content-between align-items-center">
             <div class="main-cm-logo">
              <a href="../../index.html"><img src="/assets/img/logo.svg" alt="" srcset=""></a>
             </div>
             <div class="nav-dropdown-items">
                <div class="use-case">
                   <button class="pointer" data-bs-toggle="dropdown" aria-expanded="false">
                      <span data-tag="nav-use-case">Use case</span>
                      <i class="fa-solid fa-chevron-down"></i>
                   </button>
                   <ul class="dropdown-menu">
                     <li>
                      <a class="dropdown-item" href="../use-case/non-profit/non-profit.html">
                         <div class="dropdown-item-image"><img src="/assets/img/Non-profit-icon.svg" alt="" srcset=""></div>
                         <div>
                            <p class="bold-nav-text">Non-profit</p>
                            <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                         </div>
                      </a>
                      </li>
                     <li>
                      <a class="dropdown-item" href="../use-case/political-party/political-party.html">
                         <div class="dropdown-item-image"><img src="/assets/img/Political-parti-icon.svg" alt="" srcset=""></div>
                         <div>
                            <p class="bold-nav-text">Political parti</p>
                            <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                         </div>
                      </a>
                      </li>
                     <li>
                      <a class="dropdown-item" href="../use-case/elected-office/elected-office.html">
                         <div class="dropdown-item-image"><img src="/assets/img/Elected-office-icon.svg" alt="" srcset=""></div>
                         <div>
                            <p class="bold-nav-text">Elected office</p>
                            <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                         </div>
                      </a>
                      </li>
                   </ul>
                </div>
                <div class="use-case services">
                   <button class="pointer" data-bs-toggle="dropdown" aria-expanded="false">
                      <span data-tag="nav-services">Services</span>
                      <i class="fa-solid fa-chevron-down"></i>
                   </button>
                   <div class="dropdown-menu custom-service-dropdown-menu">
                      <div class="service-left-options">
                         <a class="dropdown-item" href="../services/election-software/election-software.html">
                            <div class="dropdown-item-image"><img src="/assets/img/election-software.svg" alt="" srcset=""></div>
                            <div>
                               <p class="bold-nav-text">Election software</p>
                               <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>
                         </a>
                         <a class="dropdown-item" href="../services/predictive-call-center/predictive-call-center.html">
                            <div class="dropdown-item-image"><img src="/assets/img/predictive-call.svg" alt="" srcset=""></div>
                            <div>
                               <p class="bold-nav-text">Predictive call center</p>
                               <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>
                         </a>
                         <a class="dropdown-item" href="../services/robot-call/robot-call.html">
                            <div class="dropdown-item-image"><img src="/assets/img/nav-robot-call.svg" alt="" srcset=""></div>
                            <div>
                               <p class="bold-nav-text">Robot call</p>
                               <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>
                         </a>
                         <a class="dropdown-item" href="../services/crm-software/crm-software.html">
                            <div class="dropdown-item-image"><img src="/assets/img/nav-crm-software.svg" alt="" srcset=""></div>
                            <div>
                               <p class="bold-nav-text">CRM software</p>
                               <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>
                         </a>
                      </div>
                      <div class="service-right-options">
                         <a class="dropdown-item" href="../services/agent-calling/agent-calling.html">
                            <div class="dropdown-item-image"><img src="/assets/img/agent-calling.svg" alt="" srcset=""></div>
                            <div>
                               <p class="bold-nav-text">Agent calling</p>
                               <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>
                         </a>
                         <a class="dropdown-item" href="../services/sign-printing/sign-printing.html">
                            <div class="dropdown-item-image"><img src="/assets/img/nav-signin.svg" alt="" srcset=""></div>
                            <div>
                               <p class="bold-nav-text">Sign and printing</p>
                               <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>
                         </a>
                         <a class="dropdown-item" href="../services/data-pool/data-pool.html">
                            <div class="dropdown-item-image"><img src="/assets/img/data-pool.svg" alt="" srcset=""></div>
                            <div>
                               <p class="bold-nav-text">Data pool</p>
                               <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>
                         </a>
                      </div>
                   </div>
                </div>
                <div class="use-case pricing pointer">
                   <button class="pointer" data-tag="nav-pricing">Pricing</button>
                </div>
             </div>
             <div class="tablet-nav-dropdown-items-wrapper" id="tabletNavDropdownItemsWrapper">
                <div class="tablet-nav-dropdown-items">
                   <div class="tablet-use-case-section">
                      <div class="expansion-controll">
                         <span>Use Case</span>
                         <span class="float-end">
                            <i class="fa-solid fa-chevron-down"></i>
                         </span>
                      </div>
                      <div class="service-expansion-body">
                         <a class="service-expansion-item" href="../use-case/non-profit/non-profit.html">
                            <div class="ex-item-logo">
                               <img src="/assets/img/Non-profit-icon.svg" alt="" srcset="">
                            </div>
                            <div class="ex-item-name">
                               <p class="bold-nav-text">Non-profit</p>
                               <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>
                         </a>
                         <a class="service-expansion-item" href="../use-case/political-party/political-party.html">
                            <div class="ex-item-logo">
                               <img src="/assets/img/Political-parti-icon.svg" alt="" srcset="">
                            </div>
                            <div class="ex-item-name">
                               <p class="bold-nav-text">Political parti</p>
                               <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>
                         </a>
                         <a class="service-expansion-item" href="../use-case/elected-office/elected-office.html">
                            <div class="ex-item-logo">
                               <img src="/assets/img/Elected-office-icon.svg" alt="" srcset="">
                            </div>
                            <div class="ex-item-name">
                               <p class="bold-nav-text">Elected office</p>
                               <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>
                         </a>
                      </div>
                   </div>
                   <div class="tablet-service-section">
                      <div class="expansion-controll">
                         <span>Services</span>
                         <span class="float-end">
                            <i class="fa-solid fa-chevron-down"></i>
                         </span>
                      </div>
                      <div class="service-expansion-body-dual">
                         <div class="service-expansion-body-dual-left">
                            <a class="service-expansion-item" href="../services/election-software/election-software.html">
                               <div class="ex-item-logo">
                                  <img src="/assets/img/election-software.svg" alt="" srcset="">
                               </div>
                               <div class="ex-item-name">
                                  <p class="bold-nav-text">Election software</p>
                                  <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                               </div>
                            </a>
                            <a class="service-expansion-item" href="../services/predictive-call-center/predictive-call-center.html">
                               <div class="ex-item-logo">
                                  <img src="/assets/img/predictive-call.svg" alt="" srcset="">
                               </div>
                               <div class="ex-item-name">
                                  <p class="bold-nav-text">Predictive call center</p>
                                  <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                               </div>
                            </a>
                            <a href="../services/robot-call/robot-call.html" class="service-expansion-item">
                               <div class="ex-item-logo">
                                  <img src="/assets/img/nav-robot-call.svg" alt="" srcset="">
                               </div>
                               <div class="ex-item-name">
                                  <p class="bold-nav-text">Robot call</p>
                                  <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                               </div>
                            </a>
                            <a class="service-expansion-item" href="../services/crm-software/crm-software.html">
                               <div class="ex-item-logo">
                                  <img src="/assets/img/nav-crm-software.svg" alt="" srcset="">
                               </div>
                               <div class="ex-item-name">
                                  <p class="bold-nav-text">CRM software</p>
                                  <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                               </div>
                            </a>
                         </div>
                         <div class="service-expansion-body-dual-right">
                            <a class="service-expansion-item" href="../services/agent-calling/agent-calling.html">
                               <div class="ex-item-logo">
                                  <img src="/assets/img/agent-calling.svg" alt="" srcset="">
                               </div>
                               <div class="ex-item-name">
                                  <p class="bold-nav-text">Agent calling</p>
                                  <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                               </div>
                            </a>
                            <a class="service-expansion-item" href="../services/sign-printing/sign-printing.html">
                               <div class="ex-item-logo">
                                  <img src="/assets/img/nav-signin.svg" alt="" srcset="">
                               </div>
                               <div class="ex-item-name">
                                  <p class="bold-nav-text">Sign and printing</p>
                                  <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                               </div>
                            </a>
                            <a class="service-expansion-item" href="../services/data-pool/data-pool.html">
                               <div class="ex-item-logo">
                                  <img src="/assets/img/data-pool.svg" alt="" srcset="">
                               </div>
                               <div class="ex-item-name">
                                  <p class="bold-nav-text">Data pool</p>
                                  <p class="regular" style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur.</p>
                               </div>
                            </a>
                         </div>
                      </div>
                   </div>
                   <a class="d-block" href="../coming-soon/coming-soon.html">
                      <span>Pricing</span>
                   </a>
                </div>
             </div>
             <div class="other-nav-tool">
                <div class="get-demo">
                   <a href="../demo/demo.html">
                      <span data-tag="nav-get-demo">Get a demo</span>
                   </a>
                </div>
                <div class="select-language">
                   <span class="cursor" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-globe"></i>
                   </span>
                   <ul class="dropdown-menu">
                      <li>
                         <a class="dropdown-item" href="">
                            <img class="m-r-10" src="/assets/img/canada-flag.svg" alt="" srcset="">
                            English
                         </a>
                      </li>
                      <li>
                         <a class="dropdown-item" href="">
                            <img class="m-r-10" src="/assets/img/french-flag.svg" alt="" srcset="">
                            French
                         </a>
                      </li>
                   </ul>
                </div>
                <div class="expand-menu" id="expandMenu">
                   <img src="/assets/img/menu.svg" alt="" srcset="">
                </div>
             </div>
          </div>
       </nav>
    </div>
</div>